# Specify what services we want to run when the compose file is called
services:
   # Here we define the options to run our API
   library_api:
     # When running, we tell it to rebuild the image in case of any changes
     build:
       # Here we tell it where to build from
       context: ./backend
     # We tell it to expose these ports (HTTPS for production)
     ports:
       - "3443:3443"  # HTTPS port for backend
     environment:
       - NODE_ENV=production  # Enable HTTPS in production

   library_frontend:
     build:
       context: ./frontend
     # Expose HTTPS port for frontend
     ports:
       - "443:443"  # Standard HTTPS port
     # Specify what we need to wait for before running the container
     depends_on:
       # In this instance, we wait until the backend is up and running
       - library_api
     environment:
       - NODE_ENV=production  # Enable HTTPS in production
